@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base{
  :root{
    --primary: #007DFC;
    --secondary: #03aeec4f;

    --fontStyle: 'Signika Negative', sans-serif;

    --heading-color:#04223a;
    --paragraph-color:#494949;

    --background: #fff;
    --foreground: #212e3a;
    --foreground-active: #fff;

    --card: #fcfcfc;
    --card-foreground: #212e3a;

    --ring: var(--primary);
    --radius: 0.5rem;

    --footer-color:#9ab3ff53;


    --navbar-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
    --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    --box-shadow2: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

    --slide-down: slide-down 0.7s cubic-bezier(0.215, 0.610, 0.355, 1);
    --fade-in: fade-in 1s ease-in-out forwards;

  }
}
/* @layer base {
    :root {
    .light{
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;
  
      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;
  
      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;
  
      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;
  
      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;
  
      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;
  
      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;
  
      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;
  
      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;
  
      --radius: 0.5rem;
    }
  
    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;
  
      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;
  
      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;
  
      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;
  
      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;
  
      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;
  
      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;
  
      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;
  
      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
}
}

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  } */

  /* src/styles/animations.css */
@keyframes slide-down {
  from {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

  
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
    
}
  
body{
  overflow-x: hidden;
  font-size: 16px;
  font-family: var(--fontStyle);
  background-color: var(--background);
    
}