@use "../index" as temp;

._courseContainer {
  box-shadow: temp.$box-shadow2;
  border-radius: 10px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  ._courseHeader {
    box-shadow: temp.$box-shadow2;
    border-radius: 5px;
    padding: 1rem;
  }
}

@media only screen and (max-width: 441px) {
  ._courseContainer {
      ._courseFooter {
        gap: 1.5rem;
        label {
          &:nth-child(1) {
            order: 2;
          }
          &:nth-child(2) {
            order: 1;
          }
          &:nth-child(3) {
            order: 3;
          }
        }
      }
    
  }
}
