@use '../index' as temp;

._dashboard{
    background:#fff;
    display: flex;
    flex-direction: row;
    gap:5px;
    padding: 1rem;
    height: 100vh;
    ._navBar{
        padding: 1.5rem;
        background-color: #fff;
        width: 290px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        ._logo{
            display: flex;
            gap:10px;
            padding-bottom: 0.8rem;
            border-bottom: 1px solid #999;
        }
        ._navItem{
           margin-top: 1rem;
            ul{ 
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: self-start;
                gap: 0rem;

                color: temp.$primaryText;
                li{
                    cursor: pointer;
                }
            }
            span{
                width: 100%;
                display: flex;
                align-items: center;
                gap:10px;
                padding: 0.8rem;

                @apply select-none ease-in-out duration-300;
                &:hover{
                    background-color:aliceblue;
                    border-radius: 5px;

                }
                &:active{
                    background-color:temp.$primary;
                    border-radius: 5px;
                    color:#fff;

                }
            }
        }
    }
}