@use "../index" as temp;

._dashboard {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 0.7rem 0.7rem;
  height: 100vh;
  overflow: hidden;
  ._navBar {
    padding: 0.8rem 1.5rem;
    background-color: var(--card);
    width: 250px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    ._logo {
      display: flex;
      gap: 10px;
      padding-bottom: 0.8rem;
      border-bottom: 1px solid #999;
    }
    ._navItem {
      margin-top: 0.5rem;
      ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: self-start;
        color: var(--card-foreground);
      span {
        min-width: 150px;
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 0.8rem;
        cursor: pointer;
        @apply select-none ease-in-out duration-300 ;
      }
    }
    }
  }
  ._dashSection {
    position: relative;
    align-self: start;
    padding: 0.8rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    width: 100%;
    ._navIcon{
      display: none;
    }
    ._breadCrums {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-self: start;
      ul {
        display: flex;
        align-items: center;
        gap: 0.3rem;
        &:nth-child(1){
            li{
              color: var(--card-foreground);
            }
        }
      }
      span{
        font-size: 1.1rem;
        font-weight: 600;
      }
    }
    ._dashDetails {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 1.5rem;
      color: var(--paragraph-color);
      span{
        display: flex;
        align-items: center;
        gap:1.5rem;
        label{
          cursor: pointer;
        }
      }
    }
  }
  ._welcomeKit{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--heading-color);
    padding: 0rem 1rem ;
  }
  ._outlet{
    padding: 0.1rem;
    overflow-y:scroll;
  }
  ._outlet::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }
}

@media only screen and (max-width: 1400px){
  ._navBar{
    height: auto;
    position: absolute;
    z-index: 10;
    left:-300px;
    @apply duration-300 ease-in-out;
  }
  ._dashboard{
    ._dashSection {
      ._navIcon{
        display: block;
      }
      ._dashDetails{
        ._searchToggle{
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 440px){
  ._dashboard{
    padding: 0.5rem;
    ._navBar{
      height: 100vh;
      ._navItem{
        margin-top: 0rem;
      }
    }
    ._dashSection{
      ._breadCrums{
        ul{
          li{
            font-size: 0.95rem;
          }
        }
        span{
          font-size: 0.95rem;
        }
      }
      ._dashDetails{
        span{
          label{
            &:nth-child(1){
              display: none;
            }
            &:nth-child(2){
              display: none;
            }
          }
          gap:0.8rem;
        }
      }
    }
    ._outlet{
      height: 90vh;
      padding: 0.4rem;
    }
  }
}
