@use "../index" as temp;

._homeHeader{
  padding: 0rem;
  ._homeNav{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: space-around;
    align-items: center;
    gap:1.5rem;
  }
  ._chart{
    padding: 1.5rem 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap:0.5rem;
    ._lineChart{
      width: 50vw;
    }
    ._pieChart{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
    }
  }
  ._mapsChart{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem;
    
  }
}

._boxmodel{
  padding: 1.2rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  max-width: 300px;
  cursor: pointer;
  ._box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
    ._iconbox{
      width: 70px;
      border-radius: 50%;
      padding: 0.5rem;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
      background-color:aliceblue;
      img{
        background-size: cover;
      }
    }
    ._boxinfo{
      display: flex;
      flex-direction: column;
      justify-content: center;
      label{
        font-size: 0.8rem;
        color: var(--paragraph-color);
      }
      span{
        font-size: 1.5rem;
        color: var(--paragraph-color);
      }
    }
  }
  &:nth-child(1){
    background-color:#f0f8ff;
  }
  &:nth-child(2){
    background-color:rgba(255, 223, 17, 0.097);
  }
  &:nth-child(3){
    background-color:rgba(255, 50, 18, 0.153);
  }
  &:nth-child(4){
    background-color:rgba(80, 245, 15, 0.122);
  }

}

// Tab-Device
@media only screen and (min-width: 741px) and (max-width: 1068px){
  ._homeHeader{
    ._homeNav{
      justify-content: center;
      grid-template-columns: repeat(3,1fr);
    }
    ._chart{
      flex-direction: column;
    }
  }
} 

@media only screen and (min-width: 441px) and (max-width: 740px){
  ._homeHeader{
    ._homeNav{
      grid-template-columns: repeat(2,1fr);
      gap:1.3rem
    }
    ._chart{
      flex-direction: column;
      ._lineChart{
        width: 120%;
      }
      ._pieChart{
        padding: 0.5rem;
      }
    }
    ._mapsChart{
      flex-direction: column; 
      span{
        width: 100%;
      }
    }
  }
  ._boxmodel{
    width: 40vw;
    padding: 1rem;
    justify-self: center;
    align-self: center;
    ._box{
      flex-direction: column;
      gap: 0.6rem;
      ._boxinfo{
        align-items: center;
        span{
          font-size: 1.2rem;
        }
      }
    }
  }
} 

// Mobile Device
@media only screen and (max-width: 440px){
  ._homeHeader{
    ._homeNav{
      grid-template-columns: repeat(2,1fr);
      gap:1.3rem
    }
    ._chart{
      flex-direction: column;
      ._lineChart{
        width: 120%;
      }
      ._pieChart{
        padding: 0.5rem;
      }
    }
    ._mapsChart{
      flex-direction: column; 
      span{
        width: 100%;
      }
    }
  }
  ._boxmodel{
    width: 40vw;
    padding: 1rem;
    justify-self: center;
    align-self: center;
    ._box{
      flex-direction: column;
      gap: 0.6rem;
      ._boxinfo{
        align-items: center;
        span{
          font-size: 1.2rem;
        }
      }
    }
  }
} 