@use '../_index' as temp;

$background-color_1: #ffffff5a;
$background-color_2: #f6c601;
$background-color_3: #03ecb0;
$background-color_5: #f10156;

._container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-image: url("../../img/home.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5rem;
}

._subContainer1 {
  width: 50%;
  padding: 0;
  margin-top: 4rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  text-align: start;
  span {
    color: var(--foreground);
    font-weight: 200;
    font-size: 1.1rem;
  }
  h1 {
    color: var(--heading-color);
    font-weight: 600;
    font-size: 4rem;
    line-height: 4.5rem;
    text-shadow: 1px 1px 5px #00000089;
    span {
      color: var(--primary);
      font-weight: 600;
      font-size: 4rem;
    }
  }
}

._subContainer2 {
  display: flex;
  position: relative;
  top: 3rem;
  ._subIconContainer {
    position: absolute;
    top: 50vh;
    left: -15%;
    width: 220px;
    padding: 0.8rem;
    background-color: var(--background);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    animation: pulse 1.5s infinite ease-in-out;
    span {
      color: var(--primary);
      font-size: 3rem;
    }
    h1 {
      font-size: 2rem;
      font-weight: 600;
      color: var(--heading-color);
    }
    p {
      line-height: 1rem;
      font-size: 0.8rem;
      color: var(--foreground);
    }
  }
  ._subIconContainer2 {
    position: absolute;
    top: 15vh;
    left: 55%;
    width: 220px;
    padding: 0.8rem;
    background-color: var(--background);
    box-shadow: var(--box-shadow);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    animation: pulse 1.5s infinite ease-in-out;
    span {
      color: var(--primary);
      font-size: 3rem;
    }
    h1 {
      font-size: 2rem;
      font-weight: 600;
      color: var(--heading-color);
    }
    p {
      line-height: 1rem;
      font-size: 0.8rem;
      color: var(--paragraph-color);
    }
  }
}

._img {
  height: 78vh;
}

._loginbtn1 {
  @apply outline outline-2 outline-offset-2 p-2 outline-[var(--primary)] rounded flex items-center justify-center gap-x-2 
  font-semibold text-white active:scale-95 ease-in-out duration-300 bg-[var(--primary)];
  background-image: radial-gradient(
      93% 87% at 87% 89%,
      rgba(0, 0, 0, 0.23) 0%,
      transparent 86.18%
    ),
    radial-gradient(
      66% 87% at 26% 20%,
      rgba(255, 255, 255, 0.41) 0%,
      rgba(255, 255, 255, 0) 69.79%,
      rgba(255, 255, 255, 0) 100%
    );
  box-shadow: 2px 19px 31px rgba(0, 0, 0, 0.2);
}

._loginbtn2 {
  @apply outline outline-2 outline-offset-2 p-2 outline-[var(--primary)] w-28 rounded flex items-center justify-center gap-x-2 font-semibold text-[var(--foreground)] active:scale-95 ease-in-out 
  duration-300 active:text-[var(--foreground-active)] active:bg-[var(--primary)];
  display: none;
}

._stripDetails {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding: 2rem;
  gap: 1rem;
  overflow: hidden;
  border-top: 1px solid var(--borderColor);
  ._sub-strip {
    width: 250px;
    padding: 0.8rem;
    background-color: var(--card);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    span {
      background-color: #03ecb262;
      border-radius: 20px 30px 20px 20px;
      padding: 0.8rem;
      font-size: 1.8rem;
    }
    h1 {
      font-size: 2rem;
      font-weight: 600;
      color: var(--heading-color);
    }
    p {
      line-height: 1rem;
      font-size: 0.8rem;
      color: var(--card-foreground);
    }
    &:nth-child(1) {
      span {
        background-color: #93f5aa;
        color: #046e1d;
        box-shadow: var(--box-shadow);
      }
      h1 {
        color: #046e1d;
      }
    }
    &:nth-child(2) {
      span {
        background-color: #fc365a94;
        color: #f10156;
        box-shadow: var(--box-shadow);
      }
      h1 {
        color: #f10156;
      }
    }
    &:nth-child(3) {
      span {
        background-color: #b5affa;
        color: #0b017c;
        box-shadow: var(--box-shadow);
      }
      h1 {
        color: #0b017c;
      }
    }
    &:nth-child(4) {
      span {
        background-color: #f6c50151;
        color: #f6c601;
        box-shadow: var(--box-shadow);
      }
      h1 {
        color: #f6c601;
      }
    }
  }
}

._carrier {
  padding: 2rem;
  background-image: var(--backgroundImageCarrier);
  background-size: cover;
  ._carrierText {
    font-size: 2.5rem;
    font-weight: 600;
    
    span {
      font-size: 2.5rem;
      color: var(--primary);
    }
  }
}

._grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
  ._grid-item {
    max-width: 300px;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: self-start;
    gap: 0.8rem;
    background-color: var(--card);
    border: 1px solid var(--borderColor);
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    span {
      width: auto;
      padding: 0.8rem;
      border-radius: 50px;
      color: #fff;
      font-size: 1.5rem;
      box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
    h1 {
      font-size: 1.1rem;
      text-align: justify;
      font-weight: 600;
      color: var(--heading-color);
    }
    p {
      font-size: 0.9rem;
      text-align: justify;
      color: var(--paragraph-color);
    }
    &:hover {
      scale: (1.1);
    }
    &:nth-child(1) {
      span {
        background-color: $background-color_2;
      }
    }
    &:nth-child(2) {
      span {
        background-color: $background-color_3;
      }
    }
    &:nth-child(3) {
      span {
        background-color: var(--primary);
      }
    }
    &:nth-child(4) {
      span {
        background-color: $background-color_5;
      }
    }
  }
}

._TrainedSection {
  padding: 1.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.8rem;
  border: 1px solid var(--borderColor);
}

._Trained-child-1 {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.2rem;
  span {
    font-size: 1.2rem;
    color: var(--primary);
  }
  h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--heading-color);
    line-height: 3rem;
  }
  p {
    font-size: 0.9rem;
    color: var(--paragraph-color);
    text-align: justify;
  }
}

._image-slide {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  span {
    overflow: hidden;
    border-radius: 10px;
    ._img {
      width: 180px;
      height: 100px;
      transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
      background-size: contain;
      background-position: center;
      box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
        rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
      cursor: pointer;
      &:hover {
        scale: (1.2);
      }
    }
  }
}

._Trained-child-2 {
  display: grid;
  grid-template-columns: auto auto;
  place-items: center;
  place-content: center;
  gap: 4rem;
  ._sub-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    span {
      padding: 1rem;
      animation: animate 3s linear infinite alternate;
      border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
      font-size: 1.3rem;
    }
    h1 {
      color: #f10156;
      font-weight: 600;
    }
    p {
      color: var(--paragraph-color);
      font-weight: 600;
      font-size: 0.7rem;
    }
    &:nth-child(1) {
      span {
        background-color: #93f5aa;
        color: #046e1d;
        box-shadow: var(--box-shadow);
      }
      h1 {
        color: #046e1d;
      }
    }
    &:nth-child(2) {
      span {
        background-color: #fc365a94;
        color: #f10156;
        box-shadow: var(--box-shadow);
      }
      h1 {
        color: #f10156;
      }
    }
    &:nth-child(3) {
      span {
        background-color: #b5affa;
        color: #0b017c;
        box-shadow: var(--box-shadow);
      }
      h1 {
        color: #0b017c;
      }
    }
    &:nth-child(4) {
      span {
        background-color: #f6c50151;
        color: #f6c601;
        box-shadow: var(--box-shadow);
      }
      h1 {
        color: #f6c601;
      }
    }
  }
}

._masterSkills {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image: var(--background-image-service);
  padding: 2rem 4rem;
  ._child-masterSkills-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
    gap: 1rem;
    label {
      font-size: 1.2em;
      color: var(--primary);
      font-weight: 600;
    }
    h1 {
      font-size: 2.5rem;
      color: var(--heading-color);
      font-weight: 600;
      line-height: normal;
    }
    p{
      color: var(--paragraph-color);
    }
    ._subChild-masterSkills {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      margin-top: 2rem;
      ._subChild-container {
        padding: 1rem;
        border-radius: 10px;
        max-width: 280px;
        background-color: var(--card);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 1.2rem;
        box-shadow: var(--box-shadow2)
      }
      span {
        padding: 0.5rem;
        border-radius: 10px;
        background-color: var(--secondary);
        color: var(--primary);
        font-size: 1.5rem;
      }
      p {
        font-size: 0.8rem;
        color: var(--paragraph-color);
      }
    }
  }
  ._child-masterSkills-2 {
    position: relative;
    width: 100%;
    img {
      
      width: 500px;
      margin: auto;
    }
  }
}

._review {
  background-image: url("../../img/home.png");
  padding: 3.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  p {
    color: var(--primary);
    font-size: 1.2rem;
  }
  h1 {
    color: var(--heading-color);
    font-size: 2.5rem;
    font-weight: 600;
    line-height: normal;
    span {
      color: var(--primary);
    }
  }
  ._studentReview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    overflow: hidden;
    ._reviewSection {
    
      margin: auto;
      width: 300px;
      padding: 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      background: var(--card);
      border-radius: var(--radius);
      box-shadow: var(--box-shadow2);
      
      transition: all 0.6s ease-in-out;
      p {
        color: var(--paragraph-color);
        font-size: 0.8rem;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      }
      ._reviewByName {
        display: flex;
        justify-content: self-start;
        align-items: center;
        gap: 1rem;
        padding: 1rem 0.5rem 0rem;
        border-top: 0.05rem solid var(--primary);
        img {
          width: 60px;
          border-radius: 50%;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        }
        span {
          display: block;
          color: var(--paragraph-color);
          h2 {
            font-size: 0.9rem;
          }
          label {
            font-size: 0.8rem;
            color: var(--primary);
          }
        }
      }
      &:hover {
        scale: (1.1);
      }
    }
  }
}

@keyframes animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
}

// Tablet Devices -------------------------


@media only screen and (min-width: 441px) and (max-width: 1068px) {
  ._container {
    flex-direction: column;
    padding: 8rem 4rem 0.5rem;
  }
  ._subContainer1 {
    width: auto;
    gap: 0.8rem;
    ._btnSection {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
      ._loginbtn2 {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  ._subContainer2 {
    right: 0rem;
    top: 1rem;
    ._subIconContainer,
    ._subIconContainer2 {
      top: 65%;
      left: 5%;
      padding: 0.8rem;
      scale: (1.08);
      span {
        font-size: 3rem;
      }
      h1 {
        font-size: 2rem;
      }
      p {
        line-height: 0.5rem;
      }
    }
    ._img {
      margin: auto;
      padding: 1rem;
      height: auto;
      width: 70%;
    }
    ._subIconContainer2 {
      top: 30%;
      left: 50%;
    }
  }
  ._carrier {
    ._grid {
      justify-content: center;
    }
  }
  ._TrainedSection {
    padding: 2.5rem;
    gap: 6rem;
    flex-direction: column;
    ._Trained-child-1 {
      ._image-slide {
        ._img {
          width: 280px;
          height: 140px;
        }
      }
    }
    ._Trained-child-2 {
      gap: 5.5rem;
      ._sub-child {
        scale: (1.1);
      }
    }
  }
  ._masterSkills {
    flex-direction: column;
    padding: 3rem;
    ._child-masterSkills-1 {
      ._subChild-masterSkills {
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem;
        ._subChild-container {
          max-width: 400px;
          span {
            font-size: 2rem;
          }
          p {
            font-size: 0.9rem;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 641px) and (max-width: 1068px) {
  ._masterSkills {
    ._child-masterSkills-1 {
      ._subChild-masterSkills {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
      }
    }
  }
}

// Only Mobile Devices----------------------------
@media only screen and (max-width: 440px) {
  ._container {
    flex-direction: column;
    padding: 5rem 2rem 0.5rem;
  }
  ._subContainer1 {
    width: auto;
    gap: 0.8rem;
    span {
      font-size: 1.1rem;
    }
    h1 {
      font-size: 2.5rem;
      line-height: 3.2rem;
      span {
        font-size: 2.5rem;
      }
    }
    ._btnSection {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1rem;
      ._loginbtn2 {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  ._subContainer2 {
    right: 0rem;
    top: 1rem;
    ._subIconContainer,
    ._subIconContainer2 {
      top: 26vh;
      left: -15%;
      padding: 0.8rem;
      scale: (0.7);
      span {
        font-size: 3rem;
      }
      h1 {
        font-size: 2rem;
      }
      p {
        line-height: 0.5rem;
      }
    }
    ._img {
      padding: 1rem;
      height: auto;
      width: auto;
    }
    ._subIconContainer2 {
      top: 30%;
      left: 40%;
    }
  }

  ._carrier {
    ._carrierText {
      font-size: 2rem;
      margin-top: 0rem;
      line-height: normal;
      color: var(--heading-color);
      span {
        font-size: 2rem;
      }
    }
    ._grid {
      justify-content: center;
      align-items: center;
      padding: 1rem 0.5rem;
      gap: 1.3rem;
      ._grid-item {
        min-width: 105%;
        span {
          font-size: 1.8rem;
        }
        h1 {
          font-size: 1.3rem;
        }
        p {
          font-size: 1rem;
        }
        &:hover {
          scale: (1.05);
        }
      }
    }
  }
  ._TrainedSection {
    flex-direction: column;
    gap: 3rem;
    padding: 1.5rem 1.5rem 4rem;
    ._Trained-child-1 {
      h1 {
        line-height: normal;
        font-size: 2rem;
      }
      p {
        font-size: 1rem;
        &::first-letter {
          font-size: 2rem;
        }
      }
      ._image-slide {
        display: none;
      }
    }
    ._Trained-child-2 {
      ._sub-child {
        scale: (1.2);
      }
    }
  }

  ._masterSkills {
    flex-direction: column;
    justify-content: center;
    padding: 1.5rem;
    gap: 4rem;
    ._child-masterSkills-1 {
      align-items: center;
      label {
        align-self: flex-start;
      }
      h1 {
        font-size: 2rem;
        line-height: normal;
      }
      p {
        font-size: 1rem;
      }
      ._subChild-masterSkills {
        grid-template-columns: auto;
        gap: 0.5rem;
        scale: (1.1);
      }
    }
  }

  ._review {
    padding: 1.5rem;
    h1 {
      font-size: 2rem;
      line-height: normal;
    }
    ._arrowbt {
      justify-content: end;
    }
    ._studentReview {
      padding: 0.5rem;
      

      ._reviewSection {
        flex-shrink: 0;
      }
    }
  }
}
