@use '../_index' as index;

._registerSection{
    @apply fixed z-[2] w-full h-screen bg-black/60
    flex justify-center items-center;
   
    ._regisForm{
        width: 350px;
        padding: 2rem 1.5rem;
        border-radius: 5px;
        background-color: var(--card);
        display: flex;
        flex-direction: column;
        gap:0.4rem;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        position: relative;
        animation: var(--slide-down); 
        h3{
            position: absolute;
            right: -13px;
            top: -13px;
            cursor: pointer;
            color: var(--card-foreground);
            @apply p-2 rounded-full bg-[var(--card)] drop-shadow-md;
        }
        h1{
            font-size: 2rem;
            color: var(--heading-color);
        }
        p{
            font-size: 0.85rem;
            color:var(--paragraph-color);
        }
        ._form{
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            gap:0.75rem;
            align-items: flex-start;
            span{
                width:100%;
                display: flex;
                align-items: center;
                gap:10px;
                position: relative;
                input{
                    width: 100%;
                    outline: none;
                    background-color: var(--background);
                    color: var(--foreground);
                    @apply pl-12 pr-4 py-2  border border-gray-300 focus:shadow-md focus:shadow-blue-200/50  rounded placeholder-opacity-25 focus:ring-1 focus:ring-ring text-sm;
                }
                label{
                    background-color: aliceblue;
                    padding: 0.8rem;
                    border-radius: 5px 5px 5px 5px;
                    color: var(--primary);
                    @apply absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none;
                }
            }
            
            button{
                width: 100%;
                border-radius: 5px;
                padding: 0.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                gap:5px;
                background-color: var(--primary);
                color: #fff;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
                @apply active:scale-95 ease-in-out duration-300;
            }
        }
    }
}



