@use '_index' as temp;

._registerSection{
    @apply fixed z-[9999] w-full h-screen bg-black/60
    flex justify-center items-center;
    ._regisForm{
        min-width: 350px;
        padding: 2rem 1.5rem;
        border-radius: 5px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        gap:0.4rem;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
        position: relative;
        h3{
            position: absolute;
            right: 20px;
            top: 20px;
            cursor: pointer;
        }
        h1{
            font-size: 2rem;
            color:temp.$heading-color;
        }
        p{
            font-size: 0.85rem;
            color:temp.$paragraph-color;
        }
        ._form{
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            gap:1rem;
            align-items: flex-start;
            span{
                width:100%;
                display: flex;
                align-items: center;
                gap:10px;
                border: 0.09rem solid temp.$primary;
                border-radius: 5px;
                &:focus{
                    outline: 0.09rem solid temp.$primary; 
                    box-shadow: temp.$primary 0px 2px 3px 0px, temp.$primary 0px -1px 5px 0px;
                }
                label{
                    background-color: aliceblue;
                    padding: 0.8rem;
                    border-radius: 5px 0px 0px 5px;
                    color:temp.$primary;
                }
            
                input{
                    width: 100%;
                    outline: none;
                }
            }
            
            button{
                width: 100%;
                border-radius: 5px;
                padding: 0.5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                gap:5px;
                background-color: temp.$primary;
                color: #fff;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
                @apply active:scale-95 ease-in-out duration-300;
            }
        }
    }
}